/* MAIN SECTION */
.main-section {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 650px;
}
/* MAIN SECTION - LEFT SIDE */
.left-side {
    flex: 1;
    display: flex;
    flex-direction: column;
}
.left-side .title {
    font-size: 4rem;
    font-weight: 700;
    margin: 40px 0;
}
.left-side .sub-title {
    font-size: 1.7rem;
    font-weight: 400;
    margin: 0;
}
.left-side a {
    color: #000;
    text-decoration: none;
    font-size: 2rem;
    font-weight: 500;
}
.left-side a:hover {
    color: rgb(42, 42, 194);
    transition: all ease 0.5s;
    text-decoration: none;
}
.left-side abbr {
    border-bottom: none !important;
    cursor: inherit !important;
    text-decoration: none !important;
}
.socials {
    padding-top: 20px;
}
.padding-right {
    padding-right: 20px;
}
/* MAIN SECTION - RIGHT SIDE */
.right-side {
    margin: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.right-side img {
    max-height: 400px;
    border-radius: 200px;
}

/* PROJECTS SECTION */
.projects-section {
    height: 500px;
}
.projects-section h2 {
    font-weight: 700;
    font-size: 2.5rem;
}

@media screen and (max-width: 1024px) {
    .main-section {
        display: flex;
        flex-direction: column-reverse;
    }
    .right-side img {
        max-height: 300px;
        border-radius: 150px;
    }
    .left-side .title {
        font-size: 3rem !important;
    }
    .left-side .sub-title {
        font-size: 1rem !important;
    }
    .socials {
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .main-section {
        margin-bottom: 30px;
        height: auto !important;
    }
    .projects-section {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
    }
    .projects-area {
        height: auto !important;
    }
}
@media screen and (max-width: 650px) {
    .main-section {
        display: flex;
        flex-direction: column-reverse;
    }
    .right-side img {
        max-height: 200px;
        border-radius: 100px;
    }
    .left-side .title {
        font-size: 2rem !important;
        font-weight: 700;
        margin: 40px 0;
    }
    .left-side .sub-title {
        font-size: 1rem !important;
    }
}