/* PROJECT */

.project {
    width: 30%;
    margin: 10px;
    height: 500px;
    background-color: var(--background-alt);
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
}
.project-content {
    width: calc(100% - 30px);
    height: calc(100% - 30px);
    background-color: var(--background-secondary);
}
.project-content--image {
    width: 100%;
    height: 40%;
}
.project-content--image img {
    width: 100%;
    height: 100%;
}
.project-content--description {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 30px;
    height: 60%;
}
.content-description--header {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-bottom: 10px;
}
.project-content--description ul {
    display: flex;
    flex: 1;
    flex-wrap: wrap;
}
.project-content--description ul li {
    width: 50%;
}
.content-description--buttons {
    display: flex;
    flex: 1;
    justify-content: center;
    align-items: center;
}
.content-description--buttons button {
    width: 50%;
}
.content-description--buttons button:first-child {
    margin-right: 20px;
}