@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700&display=swap');
body {
  box-sizing: border-box;
  margin: 0;
  font-family: 'Roboto', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;
}

:root {
  --background: rgb(20, 20, 20);
  --background-secondary: rgb(48, 45, 45);
  --background-alt: rgb(68, 63, 63);
  --text-primary: #FFF;
  --text-secondary: rgb(54, 63, 185);
}

/* :root {
  --background: #d3e9f7;
  --background-secondary: #bbd9ec;
  --text-primary: #000000;
  --text-secondary: rgb(54, 63, 185);
} */
